.contenedor {
  border: 5px solid gray;
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-auto-columns: 150px;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
}
.item {
  display: grid;
  border: 5px solid whitesmoke;
  background-color: rgb(171, 235, 43);
  color: black;
  font-size: 4.2rem;
  align-items: end;
  text-align: end;
}
